body{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.slide-text{
    width: 639px;
    height: 116px;
}

.stellato-button-style{
    color: #8db7f5;
}

.stellato-section-margin{
    padding-top: 40px;
}

.faq-ans{
    color: gray;
    font-weight: lighter;
    font-size: smaller;
}

.stellato-border{
    color: skyblue;
}

span{
    font-size: xx-small;
}

.footer-bg{
    background-color: black;
}

@media (max-width: 700px){
    .slide-caption{
        font-size: 15px;
      }
      .wedding-basic-card{
          margin-bottom: 30px;
      }
    
}

.highlighted-card{
    font-size: 12px;
    font-weight: lighter;
    margin-top: -15px;
}

.package-margin{
    padding-top: 50px;
}

.package-title-padding{
    padding-bottom: 50px;
}

