body{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.slide-text{
    width: 639px;
    height: 116px;
}

.stellato-button-style{
    color: blue;
}
